:host {
  flex-basis: 100%;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  background-color: antiquewhite;
  img {
    width: 8rem;
    height: 8rem;
  }
  p {
    flex-grow: 2;
    padding-left: 2rem;
    font-size: 1.2rem;
    color: #495057;
    .title {
      cursor: pointer;
    }
  }
  .btns {
    & > button {
      margin-right: 1rem;
    }
  }
}

@media only screen and (min-width: 1440px) {
  :host {
    flex-basis: 50%;
    flex-direction: row;
  }
}
