:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    position: fixed;
    top: 50%;
    background-color: #fefefe;
    max-width: 500px;
    min-width: 300px;
    .header {
      padding: 0 1rem;
      justify-content: space-between;
      display: flex;
      border-bottom: 1px solid;
      margin-bottom: 1rem;
      h2 {
        margin: 0.5rem;
      }
      .close {
        font-size: 2rem;
        font-weight: bold;
        align-self: center;
      }
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .form-control {
    display: flex;
    margin-bottom: 1rem;
    input {
      flex-grow: 2;
    }
    label {
      flex-grow: 1;
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    & > button {
      margin-right: 1rem;
    }
  }
}
@media screen and (max-width: 1024px) {
  :host {
    .container {
      margin: 0 1rem;
    }
  }
}
